<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if metrics_list %}
            <ul>
                {% for metric in metrics_list %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>{{ metric.statements}}</li>
                <li>{{ metric.coveredstatements}}</li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no books present.</strong>
       {% endif %}
    </body>
</html>